<?php $galleryImages = $this->getGalleryImages(); ?>
<?php $zoom_image = $this->getEnableZoom(); ?>
<?php $lbox_image = $this->getLbox(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $lbImage = $block->getProduct()->getName(); ?>

<?php
	$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');

	$itemXl = $themeHelper->getStoreConfig('extragallery/general/per_row_xl') ? $themeHelper->getStoreConfig('extragallery/general/per_row_xl') : 5;
	
	$itemLg = $themeHelper->getStoreConfig('extragallery/general/per_row_lg') ? $themeHelper->getStoreConfig('extragallery/general/per_row_lg') : 4;
	
	$itemMd = $themeHelper->getStoreConfig('extragallery/general/per_row_md') ? $themeHelper->getStoreConfig('extragallery/general/per_row_md') : 3;
	
	$itemSm = $themeHelper->getStoreConfig('extragallery/general/per_row_sm') ? $themeHelper->getStoreConfig('extragallery/general/per_row_sm') : 2;
	
	$itemXs = $themeHelper->getStoreConfig('extragallery/general/per_row_xs') ? $themeHelper->getStoreConfig('extragallery/general/per_row_xs') : 1;

?>

<input type="hidden" id="item-xl" value="<?php echo $itemXl ?>"/>
<input type="hidden" id="item-lg" value="<?php echo $itemLg ?>"/>
<input type="hidden" id="item-md" value="<?php echo $itemMd ?>"/>
<input type="hidden" id="item-sm" value="<?php echo $itemSm ?>"/>
<input type="hidden" id="item-xs" value="<?php echo $itemXs ?>"/>

<?php
    
    $xlClass = "";
    $lgClass = "";
    $mdClass = "";
    $smClass = "";
    $xsClass = "";

    if(count($galleryImages) < $itemXl) {
        $xlWidth = (count($galleryImages)/$itemXl)*100;
        $itemXl = count($galleryImages);
        $xlClass = "width:".$xlWidth."%";
    }     
    if(count($galleryImages) < $itemLg) {
        $lgWidth = (count($galleryImages)/$itemLg)*100;
        $itemLg = count($galleryImages);
        $lgClass = "width:".$lgWidth."%";
    }     
    if(count($galleryImages) < $itemMd) {
        $mdWidth = (count($galleryImages)/$itemMd)*100;
        $itemMd = count($galleryImages);
        $mdClass = "width:".$mdWidth."%";
    }     
    if(count($galleryImages) < $itemSm) {
        $smWidth = (count($galleryImages)/$itemSm)*100;
        $itemSm = count($galleryImages);
        $smClass = "width:".$smWidth."%";
    }     
    if(count($galleryImages) < $itemXs) {
        $xsWidth = (count($galleryImages)/$itemXs)*100;
        $itemXs = count($galleryImages);
        $xsClass = "width:".$xsWidth."%";
    }
?>

<style>
    .product.media > div{margin-left:auto; margin-right:auto}
    <?php if($xlClass != ""):?>@media (min-width: 1200px){.product.media>div{ <?php echo $xlClass;?>}}<?php endif;?>
    <?php if($lgClass != ""):?>@media (min-width: 992px) and (max-width: 1199.98px){.product.media>div{ <?php echo $lgClass;?>}}<?php endif;?>
    <?php if($mdClass != ""):?>@media (min-width: 768px) and (max-width: 991.98px){.product.media>div{ <?php echo $mdClass;?>}}<?php endif;?>
    <?php if($smClass != ""):?>@media (min-width: 568px) and (max-width: 767.98px){.product.media>div{ <?php echo $smClass;?>}}<?php endif;?>
    <?php if($xsClass != ""):?>@media (max-width: 567.98px){.product.media>div{ <?php echo $xsClass;?>}}<?php endif;?>
</style>

<div class="gallery-6">
	<?php if($this->getRotateImage() && (count($this->getRotateImages())>0)): ?>
		<a class="rotate-image" href="#" onclick="rotate360(); return false"></a>
	<?php endif ?>
	<div id="owl-carousel-gallery" class="owl-carousel">
		<?php foreach($galleryImages as $image): ?>
		
			<?php $isVideo = $image->getMediaType() == 'external-video' ? true : false; ?>
			<?php $href = $isVideo ? $image->getVideoUrl() : $image->getImageZoom(); ?>
			
			<div class="product item-image imgzoom<?php if($isVideo): ?> item-image-video<?php endif ?>" data-zoom="<?php echo $image->getImageZoom(); ?>">
			
				<?php if($isVideo): ?><div class="label-video"><?php echo __('Video') ?></div><?php endif ?>
				
				<?php if($lbox_image): ?>
					<a class="lb<?php if($isVideo): ?> video-link<?php endif ?>" href="<?php echo $href; ?>">
						<img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
					</a>
				<?php else: ?>
					<img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
					<?php if($isVideo): ?>
						<a target="_blank" class="popup-video" href="<?php echo $image->getVideoUrl(); ?>">
							<span class="ti-video-camera"></span>
						</a>
					<?php endif ?>
				<?php endif ?>
			</div>
		<?php endforeach ?>
	</div>
	<div class="detail-label"><?php echo $themeHelper->getProductLabel($_product) ?></div>
</div>

<script type="text/javascript">
    require([ 
		'jquery', 
		'mgs/owlcarousel',
		'zoom-images',
		'magnificPopup'
	], function ($) {
		
		<?php if($zoom_image): ?>
		$('#owl-carousel-gallery').on('initialized.owl.carousel', function(event) {
            $(".imgzoom").each(function( index ) {
                zoomElement(this);
            });
        });
		<?php endif ?>
		
        $('#owl-carousel-gallery').owlCarousel({
            items: <?php echo $itemXl ?>,
            autoplay: false,
            lazyLoad: false,
			loop: false,
            nav: true,
            dots: true,
            navText: ["<span></span>","<span></span>"],
			responsive : {
				0 : {
					items : <?php echo $itemXs ?>
				},
				576 : {
					items : <?php echo $itemSm ?>
				},
				768 : {
					items : <?php echo $itemMd ?>
				},
				992 : {
					items : <?php echo $itemLg ?>
				},
				1200 : {
					items : <?php echo $itemXl ?>
				}
			}
        });
    });
</script>