<?php $galleryImages = $this->getGalleryImages(); ?>
<?php $zoom_image = $this->getEnableZoom(); ?>
<?php $lbox_image = $this->getLbox(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $galleryImages = $this->getGalleryImages(); ?>
<?php $zoom_image = $this->getEnableZoom(); ?>
<?php $lbox_image = $this->getLbox(); ?>
<?php $lbImage = $block->getProduct()->getName(); ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>


<div class="product-thumbnail  gallery-2">
	<?php if($this->getRotateImage() && (count($this->getRotateImages())>0)): ?>
		<a class="rotate-image" href="#" onclick="rotate360(); return false"></a>
	<?php endif ?>
    <div id="owl-carousel-gallery" class="owl-carousel gallery-horizontal">
        <?php foreach($galleryImages as $image): ?>
        <?php $isVideo = $image->getMediaType() == 'external-video' ? true : false; ?>
        <?php $href = $isVideo ? $image->getVideoUrl() : $image->getImageZoom(); ?>

        <div class="product item-image imgzoom<?php if($isVideo): ?> item-image-video<?php endif ?>" data-zoom="<?php echo $image->getImageZoom(); ?>">

            <?php if($isVideo): ?><div class="label-video"><?php echo __('Video') ?></div><?php endif ?>

            <?php if($lbox_image): ?>
                <a class="lb<?php if($isVideo): ?> video-link<?php endif ?>" href="<?php echo $href; ?>">
                    <img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
                </a>
            <?php else: ?>
                <img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
                <?php if($isVideo): ?>
                    <a target="_blank" class="popup-video" href="<?php echo $image->getVideoUrl(); ?>">
                        <span class="ti-video-camera"></span>
                    </a>
                <?php endif ?>
            <?php endif ?>
        </div>
    <?php endforeach ?>
    </div>
    <div id="horizontal-thumbnail" class="owl-carousel horizontal-thumbnail">
        <?php $i = 0; foreach($galleryImages as $image): ?>
            <div class="item-thumb<?php if($i == 0): ?> active<?php endif ?>" data-owl="<?php echo $i ?>">
                <img class="img-fluid" src="<?php echo $image->getSmallImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
                <?php if($image->getMediaType() == 'external-video'): ?>
                    <div class="popup-video-thumb"><span class="ti-video-camera"></span></div>
                <?php endif ?>
            </div>
            <?php $i++; ?>
        <?php endforeach ?>
    </div>
	<?php // Product Label ?>
    <div class="detail-label"><?php echo $themeHelper->getProductLabel($_product) ?></div>
</div>
<script type="text/javascript">
    require([ 'jquery', 'mgs/owlcarousel' ], function ($) {
        $('#owl-carousel-gallery').owlCarousel({
            items: 1,
            autoplay: false,
            lazyLoad: false,
            nav: true,
            dots: false,
            navText: ["<span></span>","<span></span>"],
            rtl: RTL,
			responsive:{
				0:{ 
					nav: false,
					dots: true
				},
				768:{ 
					nav: true,
					dots: false
				}
			}
        });
        
        $('#owl-carousel-gallery').on('changed.owl.carousel', function(event) {
            var index = event.item.index;
            $('#horizontal-thumbnail .item-thumb').removeClass('active');
            $('#horizontal-thumbnail .item-thumb[data-owl='+index+']').addClass('active');
            $('#horizontal-thumbnail').trigger('to.owl.carousel', index);
        });
        
        $('#horizontal-thumbnail').owlCarousel({
            items: 5,
            autoplay: false,
            lazyLoad: false,
            nav: true,
            dots: false,
            rtl: RTL,
            navText: ["<span class='pe-7s-angle-left'></span>","<span class='pe-7s-angle-right'></span>"],
            responsive:{
                0:{ items: 2 },
				576:{ items: 3 }, 
				768:{ items: 5 },
                992:{ items: 4 },
                1200:{ items: 5 }
            },
        });
        
        $('#horizontal-thumbnail .item-thumb').click(function(){
            $('#horizontal-thumbnail .item-thumb').removeClass('active');
            var position = $(this).attr('data-owl');
            $('#owl-carousel-gallery').trigger('to.owl.carousel', position);
            $(this).addClass('active');
        });
    });
    <?php if($zoom_image): ?>
        require([ 'jquery', 'zoom-images' ],function($) { 
            $(".imgzoom").each(function( index ) {
                zoomElement(this);
            });
        });
    <?php endif ?>
</script>