<?php /** @var $block \BroSolutions\Checkout\Block\Adminhtml\CustomerComment */ ?>
<?php $comment = $block->getCustomerComment() ?>
<?php if ($comment): ?>
    <section class="admin__page-section">
        <div class="admin__page-section-title"></div>
        <div class="admin__page-section-content">
            <div class="admin__page-section-item">
                <div class="admin__page-section-item-title">
                    <span class="title"><?= $block->getTitle() ?></span>
                </div>
                <div class="admin__page-section-item-content">
                    <?= $comment ?>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>