<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data') ?>
<?php $socialHelper = $this->helper('Mageplaza\SocialLogin\Helper\Data') ?>
<?php $header = $themeHelper->getStoreConfig('mgstheme/general/header'); ?>
<?php if($header == 'header') { $header = "header_1"; } ?>

<?php $canUsePanel = $themeHelper->acceptToUsePanel() ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $customerSession = $objectManager->create('Magento\Customer\Model\Session'); ?>
<?php $customerUrl = $objectManager->create('Magento\Customer\Model\Url'); ?>

<?php
    $social = "";
    if($socialHelper->getConfigValue('sociallogin/general/is_enabled')){
        $social = $socialHelper->getConfigValue('sociallogin/general/is_enabled');
    }
?>

<?php // Wishlist link ?>
<?php $htmlWishlist = "" ?>
<?php if($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $themeHelper->getStoreConfig('mgstheme/general/wishlist') ): ?>
    <?php $htmlWishlist = '<li><div class="header-wl"><a href="'.$this->helper('Magento\Wishlist\Helper\Data')->getListUrl().'"><i class="pe-7s-like"></i>'; ?>
    <?php if($this->helper('Magento\Wishlist\Helper\Data')->getItemCount() > 0): ?>
        <?php $htmlWishlist .= '<span class="count-wl">'. $this->helper('Magento\Wishlist\Helper\Data')->getItemCount() .'</span>'; ?>
    <?php endif ?>
    <?php $htmlWishlist .= '</a></div></li>'; ?>
<?php endif ?>

<?php // Image Toogle menu button ?>
<?php $imgToggleMenu = '<img src="'. $block->getViewFileUrl('images/hamburger-black.svg') .'" alt="'. __('Menu') .'">'; ?>

<?php // Top Link ?>
<?php $htmlTopLink = '<div class="dropdown dropdown-toplinks"><button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="pe-7s-user"></i></button><div class="dropdown-menu">'. $block->getChildHtml('top.links') .'</div></div>'; ?>

<?php // Variable Layout Element ?>
<?php $miniCart = $block->getChildHtml('minicart'); //Mini Cart ?>
<?php $storeLanguage = $block->getChildHtml('store_language');//Language Option ?>
<?php $currency = $block->getChildHtml('currency'); //Currenct Option ?>
<?php $logo = $block->getChildHtml('logo'); //Logo ?>

<?php $mgsMegamenu = $block->getChildHtml('megamenu'); // MGS_Megamenu ?>
<?php if($mgsMegamenu == ""){ $mgsMegamenu = $block->getChildHtml('catalog.topnav'); } // Default menu magento ?>  

<?php $topSearch = $block->getChildHtml('top.search'); // Top Search ?>
<?php $storeSetting = $block->getChildHtml('store.settings'); // Store Setting ?>

<?php // Setting Tab Panel ?>
<?php $htmlTabSetting = "" ?>
<?php if($storeSetting): ?>
	<?php $htmlTabSetting = '<div id="main-Settingcontent" class="tab-pane">'.$storeSetting.'</div>'; ?>
<?php endif ?>

<?php // Login ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session'); 
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
?>

<?php //Tab content ?>
<?php $htmlTabContent = '<div id="main-Menucontent" class="tab-pane active">'. $mgsMegamenu .'</div><div id="main-Accountcontent" class="tab-pane"><div class="top-links">'.$block->getChildHtml('top.links').'</div></div>'.$htmlTabSetting ; ?>

<?php 	
if($themeHelper->getStoreConfig('mgstheme/general/sticky_menu')): ?>
<div id="placeholder-header" style="display: none"></div>
<?php endif; ?>

<div class="header-placeholder">
	<?php if(!$socialHelper->getConfigValue('sociallogin/general/is_enabled')):?>
		<?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
			<div class="register-header">
				<div>
					<div id="change-form" class="change-form">
						<a href="javascript:void(0)" class="acitve-login open"><?php echo __('Login') ?></a>
						<a href="javascript:void(0)" class="acitve-register"><?php echo __('Register') ?></a>
					</div>
					<div class="register-form-header">
						<?php echo $block->getChildHtml('customer_form_register_header') ?>
						<a href="javascript:void(0)" class="closed-login"><?php echo __('Close') ?></a>
					</div>
					<div class="login-form-header open">
						<?php echo $block->getChildHtml('customer_form_login_header') ?>
						<a href="javascript:void(0)" class="closed-login"><?php echo __('Close') ?></a>
					</div>
				</div>
			</div>
		<?php endif; ?>
	<?php endif; ?>
	<?php if($header != 'header_3'):?><div class="search-popup top-search"></div><?php endif;?>
	<?php if($header == 'header_1'):?>
		<div class="header-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 hidden-lg">
						<div class="navbar-toggle-menu">
							<button class="action nav-toggle"><?php echo $imgToggleMenu?></button>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
						<?php echo $logo ?>
					</div>
					<div class="col-lg-10 col-md-3 col-sm-3 col-xs-3">
						<ul class="table-icon-menu">
							<li class="hidden-md hidden-sm hidden-xs">
								<button class="action-search hidden-md hidden-sm hidden-xs" onclick="showHideFormSearch()"><i class="pe-7s-search"></i></button>
							</li>
							<?php echo $htmlWishlist;?>
							<?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
								<li class="hidden-md hidden-sm hidden-xs">
									<?php if($customerSession->isLoggedIn()): ?>
										<?php echo  $htmlTopLink; ?>
									<?php else: ?>
										<?php if($social != ''):?>
											<div class="links">
												<a href="#social-login-popup" class="social-login" data-effect="mfp-move-from-top"><i class="pe-7s-user"></i></a>
											</div>
										<?php else: ?>
											<button class="toogle-login">
												<i class="pe-7s-user"></i>
											</button>
										<?php endif; ?>
									<?php endif; ?>
								</li>
							<?php endif; ?>
							<li><?php echo $miniCart ?></li>
							<li class="navbar-toggle-menu hidden-md hidden-sm hidden-xs">
								<button class="action nav-toggle"><?php if($header == 'header_1'):?><span><?php echo __('Menu ');?></span> <?php endif; ?><?php echo $imgToggleMenu?></button>
							</li>
						</ul>
					</div>
					<div class="hidden-md hidden-sm hidden-xs sidebar-menu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
						<button class="action close-nav-button"><span class="pe-7s-close" aria-hidden="true"></span></button>
						<div class="swicther">
							<?php echo $storeLanguage;?>
							<?php echo $currency;?>
						</div>
						<div class="clearfix"></div>
						<div class="megamenu-click">
							<?php echo $htmlTabContent;?>
						</div>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_contact_us')->setCanUsePanel($canUsePanel)->toHtml() ?>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_social_link')->setCanUsePanel($canUsePanel)->toHtml() ?>
					</div>
				</div>
			</div>
		</div>
	<?php endif;?>

	<?php if(($header == 'header_6')):?>
		<div class="header-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 hidden-lg">
						<div class="navbar-toggle-menu">
							<button class="action nav-toggle"><?php echo $imgToggleMenu?></button>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
						<?php echo $logo ?>
					</div>
					<div class="col-lg-10 col-md-3 col-sm-3 col-xs-3">
						<ul class="table-icon-menu">
							<li class="hidden-md hidden-sm hidden-xs">
								<button class="action-search hidden-md hidden-sm hidden-xs" onclick="showHideFormSearch()"><i class="pe-7s-search"></i></button>
							</li>
							<?php echo $htmlWishlist;?>
							<?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
								<li class="hidden-md hidden-sm hidden-xs">
									<?php if($customerSession->isLoggedIn()): ?>
										<?php echo  $htmlTopLink; ?>
									<?php else: ?>
										<?php if($social != ''):?>
											<div class="links">
												<a href="#social-login-popup" class="social-login" data-effect="mfp-move-from-top"><i class="pe-7s-user"></i></a>
											</div>
										<?php else: ?>
											<button class="toogle-login">
												<i class="pe-7s-user"></i>
											</button>
										<?php endif; ?>
									<?php endif; ?>
								</li>
							<?php endif; ?>
							<li><?php echo $miniCart ?></li>
							<li class="navbar-toggle-menu hidden-md hidden-sm hidden-xs">
								<button class="action nav-toggle"><?php if($header == 'header_1'):?><span><?php echo __('Menu ');?></span> <?php endif; ?><?php echo $imgToggleMenu?></button>
							</li>
						</ul>
					</div>
					<div class="hidden-md hidden-sm hidden-xs sidebar-menu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
						<button class="action close-nav-button"><span class="pe-7s-close" aria-hidden="true"></span></button>
						<div class="swicther">
							<?php echo $storeLanguage;?>
							<?php echo $currency;?>
						</div>
						<div class="clearfix"></div>
						<div class="megamenu-click">
							<?php echo $htmlTabContent;?>
						</div>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_contact_us')->setCanUsePanel($canUsePanel)->toHtml() ?>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_social_link')->setCanUsePanel($canUsePanel)->toHtml() ?>
					</div>
				</div>
			</div>
		</div>
	<?php endif;?>

	<?php if(($header == 'header_2')):?>
		<div class="header-content">
		    <div class="container">
			    <div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 hidden-lg">
						<div class="navbar-toggle-menu">
							<button class="action nav-toggle"><?php echo $imgToggleMenu?></button>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
						<?php echo $logo ?>
					</div>
					<div class="hidden-md hidden-sm hidden-xs col-lg-7 col-md-6 col-sm-6 col-xs-6 tab-megamenu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
						<div class="megamenu-hover">
							<?php echo $htmlTabContent;?>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<ul class="table-icon-menu">
							<li class="hidden-md hidden-sm hidden-xs">
								<button class="action-search hidden-md hidden-sm hidden-xs" onclick="showHideFormSearch()"><i class="pe-7s-search"></i></button>
							</li>
							<?php echo $htmlWishlist;?>
							<?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
								<li class="hidden-md hidden-sm hidden-xs">
									<?php if($customerSession->isLoggedIn()): ?>
										<?php echo  $htmlTopLink; ?>
									<?php else: ?>
										<?php if($social != ''):?>
											<div class="links">
												<a href="#social-login-popup" class="social-login" data-effect="mfp-move-from-top"><i class="pe-7s-user"></i></a>
											</div>
										<?php else: ?>
											<button class="toogle-login">
												<i class="pe-7s-user"></i>
											</button>
										<?php endif; ?>
									<?php endif; ?>
								</li>
							<?php endif; ?>
							<li><?php echo $miniCart ?></li>
							<li class="navbar-toggle-menu hidden-md hidden-sm hidden-xs">
								<button class="action nav-toggle"><?php if($header == 'header_1'):?><span><?php echo __('Menu ');?></span> <?php endif; ?><?php echo $imgToggleMenu?></button>
							</li>
						</ul>
					</div>
					<div class="hidden-md hidden-sm hidden-xs sidebar-menu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
						<button class="action close-nav-button"><span class="pe-7s-close" aria-hidden="true"></span></button>
						<div class="swicther">
							<?php echo $storeLanguage;?>
							<?php echo $currency;?>
						</div>
						<div class="clearfix"></div>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_contact_us')->setCanUsePanel($canUsePanel)->toHtml() ?>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_social_link')->setCanUsePanel($canUsePanel)->toHtml() ?>
					</div>
				</div>
			</div>
		</div>
	<?php endif;?>

	<?php if(($header == 'header_5')):?>
		<div class="header-content">
		    <div class="container-fluid">
			    <div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 hidden-lg">
						<div class="navbar-toggle-menu">
							<button class="action nav-toggle"><?php echo $imgToggleMenu?></button>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
						<?php echo $logo ?>
					</div>
					<div class="hidden-md hidden-sm hidden-xs col-lg-7 col-md-6 col-sm-6 col-xs-6 tab-megamenu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
						<div class="megamenu-hover">
							<?php echo $htmlTabContent;?>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
						<ul class="table-icon-menu">
							<li class="hidden-md hidden-sm hidden-xs">
								<button class="action-search hidden-md hidden-sm hidden-xs" onclick="showHideFormSearch()"><i class="pe-7s-search"></i></button>
							</li>
							<?php echo $htmlWishlist;?>
							<?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
								<li class="hidden-md hidden-sm hidden-xs">
									<?php if($customerSession->isLoggedIn()): ?>
										<?php echo  $htmlTopLink; ?>
									<?php else: ?>
										<?php if($social != ''):?>
											<div class="links">
												<a href="#social-login-popup" class="social-login" data-effect="mfp-move-from-top"><i class="pe-7s-user"></i></a>
											</div>
										<?php else: ?>
											<button class="toogle-login">
												<i class="pe-7s-user"></i>
											</button>
										<?php endif; ?>
									<?php endif; ?>
								</li>
							<?php endif; ?>
							<li><?php echo $miniCart ?></li>
							<li class="navbar-toggle-menu hidden-md hidden-sm hidden-xs">
								<button class="action nav-toggle"><?php if($header == 'header_1'):?><span><?php echo __('Menu ');?></span> <?php endif; ?><?php echo $imgToggleMenu?></button>
							</li>
						</ul>
					</div>
					<div class="hidden-md hidden-sm hidden-xs sidebar-menu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
						<button class="action close-nav-button"><span class="pe-7s-close" aria-hidden="true"></span></button>
						<div class="swicther">
							<?php echo $storeLanguage;?>
							<?php echo $currency;?>
						</div>
						<div class="clearfix"></div>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_contact_us')->setCanUsePanel($canUsePanel)->toHtml() ?>
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_social_link')->setCanUsePanel($canUsePanel)->toHtml() ?>
					</div>
				</div>
			</div>
		</div>
	<?php endif;?>

	<?php if($header == 'header_3'): ?>
        <div class="middle-header">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-3 hidden-lg">
						<div class="navbar-toggle-menu">
							<button class="action nav-toggle"><?php echo $imgToggleMenu?></button>
						</div>
					</div>
					<div class="col-lg-4 hidden-md hidden-sm hidden-xs">
						<div id="search-mobile" class="no-popup top-search"></div>	
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
						<?php echo $logo ?>
					</div>
					<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
						<ul class="table-icon-menu pull-right">
							<li class="hidden-md hidden-sm hidden-xs">
								<div class="swicther">
									<?php echo $storeLanguage;?>
									<?php echo $currency;?>
								</div>
								<span class="clearfix"></span>
							</li>
							<?php echo $htmlWishlist;?>
							<?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
								<li class="hidden-md hidden-sm hidden-xs">
									<?php if($customerSession->isLoggedIn()): ?>
										<?php echo  $htmlTopLink; ?>
									<?php else: ?>
										<?php if($social != ''):?>
											<div class="links">
												<a href="#social-login-popup" class="social-login" data-effect="mfp-move-from-top"><i class="pe-7s-user"></i></a>
											</div>
										<?php else: ?>
											<button class="toogle-login">
												<i class="pe-7s-user"></i>
											</button>
										<?php endif; ?>
									<?php endif; ?>
								</li>
							<?php endif; ?>
							<li><?php echo $miniCart ?></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom-header hidden-md hidden-sm hidden-xs megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
				<div class="megamenu-hover">
					<?php echo $htmlTabContent;?>
				</div>
			</div>
		</div>
	<?php endif;?>

	<?php if($header == 'header_4'): ?>
        <div class="wrapper">
            <div class="top-header text-center hidden-md hidden-sm hidden-xs">
                <div class="container">
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_free_ship')->setCanUsePanel($canUsePanel)->toHtml();?>
                </div>
            </div>
            <div class="middle-header">
               <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 hidden-lg">
                            <div class="navbar-toggle-menu">
                                <button class="action nav-toggle"><?php echo $imgToggleMenu?></button>
                            </div>
                        </div>
                        <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                            <div class="swicther">
                                <?php echo $storeLanguage;?>
                                <?php echo $currency;?>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                            <?php echo $logo ?>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
                            <ul class="table-icon-menu pull-right">
                                <li class="hidden-md hidden-sm hidden-xs">
                                    <button class="action-search hidden-md hidden-sm hidden-xs" onclick="showHideFormSearch()"><i class="pe-7s-search"></i></button>
                                </li>
                                <?php echo $htmlWishlist;?>
                                    <?php if($this->getRequest()->getFullActionName() != 'customer_account_create' && $this->getRequest()->getFullActionName() != 'customer_account_login' && $this->getRequest()->getFullActionName() != 'customer_account_forgotpassword' && $this->getRequest()->getFullActionName() != 'customer_account_createpassword'):?>
                                        <li class="hidden-md hidden-sm hidden-xs">
                                            <?php if($customerSession->isLoggedIn()): ?>
                                                <?php echo  $htmlTopLink; ?>
                                            <?php else: ?>
                                                <?php if($social != ''):?>
                                                    <div class="links">
                                                        <a href="#social-login-popup" class="social-login" data-effect="mfp-move-from-top"><i class="pe-7s-user"></i></a>
                                                    </div>
                                                <?php else: ?>
                                                    <button class="toogle-login">
                                                        <i class="pe-7s-user"></i>
                                                    </button>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </li>
                                    <?php endif; ?>
                                    <li><?php echo $miniCart ?></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-header hidden-md hidden-sm hidden-xs megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
                    <div class="container">
                        <div class="megamenu-hover">
                            <?php echo $htmlTabContent;?>
                        </div>
                    </div>
                </div>
            </div>
		<?php endif;?>

		<div class="hidden-lg mobile sidebar-menu megamenu-content<?php if($block->getChildHtml('megamenu')!=''): ?> mgs-menu<?php else: ?> mgt-menu<?php endif ?>">
			<button class="action close-nav-button"><span class="pe-7s-close" aria-hidden="true"></span></button>
			<div class="no-popup"><?php echo $topSearch?></div>
			<div class="megamenu-click megamenu-clone"></div>
			<ul class="header-link">
				<li class="links">
					<?php if($customerSession->isLoggedIn()): ?>
						<a href="<?php echo $customerUrl->getAccountUrl(); ?>"><?php echo $customerSession->getCustomer()->getName(); ?></a>
						<a href="<?php echo $customerUrl->getLogoutUrl(); ?>"></span><?php echo __('Logout '); ?><span class="fa fa-sign-out" aria-hidden="true"></a>
						<?php else: ?>
							<?php if($social != ''):?>
								<a href="<?php echo $storeManager->getStore()->getBaseUrl(); ?>customer/account/login"><?php echo __('Login') ?><i class="pe-7s-user"></i></a>
							<?php else: ?>
								<button class="toogle-login">
									<?php echo __('Login') ?><i class="pe-7s-user"></i>
								</button>
							<?php endif; ?>
						<?php endif; ?>
					</li>
					<?php if(strlen($storeLanguage) > 1): ?>
						<li class="language"><span class="clearfix"></span></li>
					<?php endif; ?>
					<?php if(strlen($currency) > 1): ?>
						<li class="currency"></li>
					<?php endif; ?>
				</ul>
			</div>
		</div>
	</div>

</div>

<?php // Sticky Menu ?>
<?php if($themeHelper->getStoreConfig('mgstheme/general/sticky_menu')): ?>
	<script type="text/javascript">
		require([
			'jquery'
			], function(jQuery){
				(function($) {
					$(document).ready(function(){
						var height_header = $('.header-placeholder').height();
						if($('body').hasClass('boxed-full')){
							var height_scroll = 30;
						}else{
							var height_scroll = 1;
						}
						$('.header-placeholder').addClass('header-sticky');
						$('#placeholder-header').show();
						$('#placeholder-header').height(height_header);

						if($('body').height() > $(window).height()){
							$(window).scroll(function(){
								if($(this).scrollTop() > height_scroll){
									$('#placeholder-header').height(80);
									$('.header-placeholder').addClass('active-sticky');
								}
								if($(this).scrollTop() < height_scroll){
									$('.header-placeholder').removeClass('active-sticky');
									$('#placeholder-header').height(height_header);
								}
							});
						}
					});
				})(jQuery);
			});
		</script>
	<?php endif ?>

	<?php // Header clone ?>
	<script type="text/javascript">
		require([
			'jquery'
			], function ($) {
				$(document).ready(function(){
					if($(window).width() > 1199){
						$('header .search-form').appendTo('.top-search');
					}else{
						$('#switcher-language').appendTo('.language');
						$('#switcher-currency').appendTo('.currency');
						$('#main-Menucontent').appendTo('.megamenu-clone');
					}

					/* Custom dropdown */
					$('.custom-toggle').click(function(){
						if($(this).hasClass('open')){
							$(this).removeClass('open');
							if($(window).width() < 1200){
								$('.dropdown-custom').slideUp();
							}else{
								$(this).parent().find('> .dropdown-custom').removeClass('open');
							}
						}else{
							if($(window).width() < 1200){
								$('.custom-toggle').removeClass('open');
								$('.dropdown-custom').slideUp();
								$(this).addClass('open');
								$(this).parent().find('> .dropdown-custom').slideDown();
							}else{
								$(this).addClass('open');
								$(this).parent().find('> .dropdown-custom').addClass('open');
							}
						}
					});
				});
			});
		</script>

