// CHECKOUT SHIPPING
li.checkout-shipping-method > .checkout-shipping-method {
	display: flex;
	flex-direction: column;
	.step-title {
		order: 2;
	}
	.field {
		order: 1;
	}
	.shipping-policy-block {
		order: 3;
	}
	#checkout-step-shipping_method {
		order: 4;
	}
}
