<?php
/**
 * Copyright Â© 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;
$aHelper = $this->helper('MGS\AjaxCart\Helper\Data');

// @codingStandardsIgnoreFile

?>

<?php
	//check cart
	$isCartShow = false;
	if($aHelper->getConfig('ajaxcart/additional/animation_type') == 'cartshow') {
		$isCartShow = true;
	}
 ?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');

$colClassRow = $themeHelper->getColClass();
$arrColClass = explode(' ', $colClassRow);
$pageType = 'catalog';
$settings = $themeHelper->getThemeSettings();
$lazyLoad = $themeHelper->getStoreConfig('mgstheme/general/lazy_load');
$baseImage = $this->getViewFileUrl('MGS_Mpanel::images/blank.png');
$baseImageHover = $this->getViewFileUrl('MGS_Mpanel::images/blank.png');
$perrow = $settings['catalog']['per_row'];
if($this->hasData('page_type')){
	$pageType = $this->getData('page_type');
}
if($pageType == 'catalog'){
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
	if($category && $category->getPerRow()){
		$perrow = $category->getPerRow();
	}
}elseif($pageType == 'catalogsearch') {
	if($settings['catalogsearch']['per_row']){
		$perrow = $settings['catalogsearch']['per_row'];
	}
}elseif($pageType == 'catalog_brand') {
	if($settings['catalog_brand']['per_row']){
		$perrow = $settings['catalog_brand']['per_row'];
	}
}

$colCheck = $themeHelper->convertPerRowtoCol($perrow);
$colClass = $themeHelper->convertColClass($colCheck, 'col');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
	<div class="category-product-actions">
		<?php echo $block->getToolbarHtml() ?>
		<?php echo $block->getAdditionalHtml() ?>
        <div class="filter" id="layered-filter-title">
            <div id="open-filter" class="block-title filter-title"><strong><?php echo __('Filter'); ?></strong></div>
            <script type="text/javascript">
                require([
                    'jquery'
                ], function ($) {
                    $(document).ready(function(){
                        $(document).on("click","#open-filter",function(e){
                            $('body').addClass('filter-active');		
                        }); 
                    }); 
                });
            </script>
        </div>
	</div>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
		$image_hover = 'product_thumbnail_image';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
		$image_hover = 'product_thumbnail_image';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>" id="product-wrapper">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items <?php if ($block->getMode() == 'grid'): ?>row<?php endif ?> <?php echo 'row-'.$arrColClass[0] ?>">
		
			<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
			<?php $size = $themeHelper->getImageSize(); ?>
			<?php $padding = $themeHelper->getImagePadding(); ?>
			<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
			<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
			
			<?php if ($block->getMode() == 'grid'): ?>
				<?php $params = $block->getRequest()->getParams();  ?>
				<?php if($settings['catalog']['ajaxscroll']): ?>
				
					<?php if(isset($params['product_list_limit'])): ?>
						<?php $countAll = $params['product_list_limit']; ?>
					<?php else: ?>
						<?php $countAll = $themeHelper->getStoreConfig('catalog/frontend/grid_per_page'); ?>		
					<?php endif ?>
					
					<?php if(isset($params['p'])): ?>
						<?php $i = ($params['p'] - 1) * $countAll; ?>
					<?php else: ?>
						<?php $i = 0; ?>
					<?php endif ?>
					
				<?php else: ?>
					<?php $i = 0; ?>
				<?php endif ?>
				
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php foreach ($_productCollection as $_product): $i++; ?>
					<?php
						$isSimpleProduct = false;

						if($_product->getTypeId() == 'simple') {
							$isSimpleProduct = true;
						}
					 ?>
					<li class="item product product-item <?php echo $colClass ?> <?php echo $themeHelper->getClearClass($perrow, $i) ?>">
						<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
						<?php $productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl(); ?>
						<?php $productImageHover = $_imagehelper->init($_product, $image_hover)->resize($size['width'], $size['height'])->getUrl(); ?>
						<?php if(!$lazyLoad): ?>
							<?php $baseImage = $productImage ?>
							<?php $baseImageHover = $productImageHover ?>
						<?php endif ?>
                        <div class="product-item-info">
						<div class="product-top">
							<a href="<?php echo $_product->getProductUrl() ?>" style="padding-bottom: <?php echo $padding; ?>;" class="product photo product-item-photo" tabindex="-1">
								<img src="<?php echo $baseImage ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImage ?>"/>
								
								<?php if(basename($_product->getData('thumbnail')) !=  'no_selection'): ?>
									<?php if(basename($_product->getData('thumbnail')) != basename($_product->getData('small_image'))): ?>
										<img src="<?php echo $baseImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive img-hover-show<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImageHover ?>" />
									<?php endif ?>
								<?php endif ?>
								
								<div class="product-image-photo"></div>
							</a>
							<?php echo $themeHelper->getProductLabel($_product) ?>
							<div class="actions-link" data-role="add-to-links">
                
                                <?php if ($_product->isSaleable()): ?>
                                  <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                  <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data'][Action::PARAM_NAME_URL_ENCODED], 'product'=>$postParams['data']['product']]); ?>" method="post">
                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                    <?php echo $block->getBlockHtml('formkey')?>
                                    <?php if($isCartShow == true):  ?>
                                    	<?php if($isSimpleProduct == true): ?>
		                                    <button type="submit"
		                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
		                                        class="action tocart btn-cart">
		                                      <span class="icon pe-7s-shopbag"></span>
		                                    </button>
		                                <?php else: ?>
		                                	<button type="button"
		                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
		                                        class="action tocart btn-cart" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
		                                      <span class="icon pe-7s-shopbag"></span>
		                                    </button>
		                                <?php endif; ?>
	                                <?php else: ?>
	                                	<button type="submit"
	                                        title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
	                                        class="action tocart btn-cart">
	                                      <span class="icon pe-7s-shopbag"></span>
	                                    </button>
	                                <?php endif; ?>
                                  </form>
                                <?php endif ?>
								
								<?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
								
							</div>
						</div>
						<div class="product details product-item-details">
                            <div class="product-detail-content">
                                <h5 class="product name product-item-name">
                                    <a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
                                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                                </h5>
                                <?php echo $block->getProductPrice($_product) ?>
                                <?php echo $block->getProductDetailsHtml($_product); ?>
                            </div>
                            <div class="product-detail-action">
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$settings['catalog']['wishlist_button']): ?>
                                    <button data-title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       class="action towishlist"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <i class="pe-7s-like"></i>
                                    </button>
                                <?php endif; ?>
                                    
                                <?php if(!$settings['catalog']['compare_button']): ?>
                                    <button data-title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                       class="action tocompare"
                                       title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                       data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                       role="button">
                                        <i class="pe-7s-graph3"></i>
                                    </button>
                                <?php endif ?>
                            </div>
						</div>
                        </div>
					</li>
				<?php endforeach ?>
			<?php else: ?>
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php foreach ($_productCollection as $_product): ?>
					<?php
						$isSimpleProduct = false;

						if($_product->getTypeId() == 'simple') {
							$isSimpleProduct = true;
						}
					 ?>
					<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
					<?php $productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl(); ?>
					<?php $productImageHover = $_imagehelper->init($_product, $image_hover)->resize($size['width'], $size['height'])->getUrl(); ?>
					<?php if(!$lazyLoad): ?>
						<?php $baseImage = $productImage ?>
						<?php $baseImageHover = $productImageHover ?>
					<?php endif ?>
					<li class="item product product-item-info product-item">
						<div class="row">
							<div class="col-sm-4 col-xs-12">
								<div class="product-image-content">
									<a href="<?php echo $_product->getProductUrl() ?>" style="padding-bottom: <?php echo $padding; ?>;" class="product photo product-item-photo" tabindex="-1">
										<img src="<?php echo $baseImage ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImage ?>"/>
								
										<?php if(basename($_product->getData('thumbnail')) !=  'no_selection'): ?>
											<?php if(basename($_product->getData('thumbnail')) != basename($_product->getData('small_image'))): ?>
												<img src="<?php echo $baseImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive img-hover-show<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImageHover ?>" />
											<?php endif ?>
										<?php endif ?>
										<div class="product-image-photo"></div>
									</a>
									<?php echo $themeHelper->getProductLabel($_product) ?>
									
                  <?php if($quickViewHelper->aroundQuickViewHtml($_product)): ?>
                    <div class="actions-link">
                      <?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
                    </div>
                  <?php endif ?>
								</div>
							</div>
							<div class="col-sm-8 col-xs-12">
								<div class="visible-xs padding-top20"></div>
								<div class="product details product-item-details">
								
									<h5 class="product name product-item-name">
										<a class="product-item-link" href="<?php echo $_product->getProductUrl() ?>">
											<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h5>
									
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
									
									<?php echo $block->getProductPrice($_product) ?>
									
									<?php echo $block->getProductDetailsHtml($_product); ?>
									
									<?php if($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')): ?>
										<div class="product description product-item-description">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
										</div>
									<?php endif ?>
									
									<div class="actions-product" data-role="add-to-links">
									
										<?php if ($_product->isSaleable()): ?>
											<?php $postParams = $block->getAddToCartPostParams($_product); ?>
											<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data'][Action::PARAM_NAME_URL_ENCODED], 'product'=>$postParams['data']['product']]); ?>" method="post">
												<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
												<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
												<?php echo $block->getBlockHtml('formkey')?>

												<?php if($isCartShow == true):  ?>
			                                    	<?php if($isSimpleProduct == true): ?>
					                                    <button type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="action tocart btn-primary">
														<span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
													</button>
					                                <?php else: ?>
					                                	<button type="button"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="action tocart btn-primary" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
														<span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
													</button>
					                                <?php endif; ?>
				                                <?php else: ?>
				                                	<button type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="action tocart btn-primary">
														<span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
													</button>
				                                <?php endif; ?>
											</form>
										<?php endif ?>
										
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$settings['catalog']['wishlist_button']): ?>
											<button data-title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   class="action towishlist"
											   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
											   data-action="add-to-wishlist"
											   role="button">
												<i class="pe-7s-like"></i>
											</button>
										<?php endif; ?>
											
										<?php if(!$settings['catalog']['compare_button']): ?>
											<button data-title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   class="action tocompare"
											   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
											   role="button">
												<i class="pe-7s-graph3"></i>
											</button>
										<?php endif ?>
										
									</div>
								</div>
							</div>
						</div>
					</li>
				<?php endforeach ?>
			<?php endif ?>
        </ol>
    </div>
	<div class="bottom-pagination<?php if($themeHelper->getStoreConfig('mpanel/catalog/ajaxscroll')): ?> ajaxscroll-enable<?php endif ?>">
		<?php echo $block->getToolbarHtml() ?>
	</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
