<?php $categories = $this->getCategoryByIds() ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php 
	$aHelper = $this->helper('MGS\AjaxCart\Helper\Data');
	$isCartShow = false;
	if($aHelper->getConfig('ajaxcart/additional/animation_type') == 'cartshow') {
		$isCartShow = true;
	}
?>

<div class="content-block deal-product-cat-block deal-product-cat-tab-block">
	<?php if($this->hasData('mgs_panel_title')): ?>
		<div class="content-heading">
			<h2 class="title"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_title')) ?></h2>
		</div>
	<?php endif ?>
	
	<?php if(count($categories)>0): ?>
		<?php if($this->hasData('mgs_panel_note')): ?>
			<div class="block-note"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_note')) ?></div>
		<?php endif ?>

		<?php 
			$blockId = rand() . time();
			$_helper = $this->helper('Magento\Catalog\Helper\Output');
			$useSlider = $this->getUseSlider();
			$perRow = $this->getPerrow();
			if($useSlider && $this->hasData('number_row') && $this->getNumberRow()>1){
				$columnCount = $perRow * $this->getNumberRow();
			}
			$image = 'category_page_grid';
			$themeSettings = $themeHelper->getThemeSettings();
			$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			$col = $themeHelper->convertPerRowtoCol($perRow);
			$autoPlay = $this->getAutoplay() ? 'true' : 'false';
			$stopAuto = $this->getStopAuto() ? 'true' : 'false';
			$nav = $this->getNavigation() ? 'true' : 'false';
			$dot = $this->getPagination() ? 'true' : 'false';
		?>
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<?php $i=0; foreach($categories as $category): $i++ ?>
					<li<?php if($i==1): ?> class="active"<?php endif ?>>
						<a data-toggle="tab" href="#category-tab-<?php echo $category->getId().$blockId ?>"><?php echo $category->getName(); ?></a>
					</li>
				<?php endforeach ?>
			</ul>
			<div class="tab-content">
				<?php $i=0; foreach($categories as $category): $i++ ?>
					<div id="category-tab-<?php echo $category->getId().$blockId ?>" class="tab-pane<?php if($i==1): ?>  active<?php endif ?><?php if($useSlider): ?> product-carousel<?php endif ?>">
						<div class="deal-product-category-tab" id="category<?php echo $category->getId().$blockId; ?>-deal-products">
							<?php $_productCollection = $this->getProductCollection($category); ?>
							<?php if (count($_productCollection)>0): ?>
								<div class="block widget mgs-products deal-products-grid">
									<!-- Don't Remove Id of this div element -->
									<div class="items<?php if($useSlider): ?> owl-carousel<?php else: ?> row <?php echo $themeHelper->convertColClass($col, 'row') ?><?php endif ?>" id="deal-products<?php echo $category->getId().$blockId; ?>">
										<?php $k=0; foreach ($_productCollection as $_product): ?>
											<?php
												$isSimpleProduct = false;
												if($_product->getTypeId() == 'simple') {
													$isSimpleProduct = true;
												}
											?>
											<?php if($useSlider && $this->hasData('number_row') && $this->getNumberRow()>1): ?>
												<?php if ($k++ % $columnCount == 0): ?>
													<div class="item">
												<?php endif ?>
											<?php endif ?>
											<div class="<?php if(!$useSlider || $this->getNumberRow()==1): ?>item <?php else: ?><?php echo $themeHelper->getClearClass($perRow, $i) ?> <?php echo $themeHelper->convertColClass($col, 'col') ?> <?php endif ?>product product-item<?php if(!$useSlider): ?> <?php echo $themeHelper->convertColClass($col, 'col') ?><?php endif ?>">
												<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
												<div class="product-item-info" data-container="product-grid">
													<?php
														$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
														$size = $themeHelper->getImageSize($this->getRatio());
														$productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl();
													?>
													<?php // Product Image ?>
													<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
														<img src="<?php echo $productImage; ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail"/>
														<?php echo $themeHelper->getProductLabel($_product) ?>
													</a>
													<div class="product details product-item-details">
														
														<strong class="product name product-item-name">
															<a class="product-item-link"
															   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
																<h4><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></h4>
															</a>
														</strong>
														<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
														<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
														<?php echo $block->getProductDetailsHtml($_product); ?>
														<?php echo $this->getLayout()->createBlock('Magento\Swatches\Block\Product\Renderer\Listing\Configurable')->setProduct($_product)->setTemplate('Magento_Swatches::product/listing/renderer.phtml')->toHtml() ?>

														<div class="product-item-inner">
															<div class="product actions product-item-actions">
																<div class="actions-primary">
																	<?php if ($_product->isSaleable()): ?>
																		<?php $postParams = $block->getAddToCartPostParams($_product); ?>
																		<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
																			<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
																			<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
																			<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
																			<?php if($isCartShow == true):  ?>
																				<?php if($isSimpleProduct == true): ?>
																					<button class="action tocart btn-cart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																						<span><span class="fa fa-shopping-cart"></span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
																					</button>
																				<?php else: ?>
																					<button class="action tocart btn-cart btn btn-primary" type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
																						<span><span class="fa fa-shopping-cart"></span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
																					</button>
																				<?php endif; ?>
																			<?php else: ?>
																				<button class="action tocart btn-cart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																					<span><span class="fa fa-shopping-cart"></span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
																				</button>
																			<?php endif; ?>
																			
																		</form>
																	<?php else: ?>
																		<?php if ($_product->getIsSalable()): ?>
																			<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
																		<?php else: ?>
																			<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
																		<?php endif; ?>
																	<?php endif; ?>
																</div>
																<?php if(!$themeSettings['catalog']['wishlist_button'] || !$themeSettings['catalog']['compare_button']): ?>
																	<div data-role="add-to-links" class="actions-secondary">
																		<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']): ?>
																			<a href="#"
																			   class="action towishlist btn btn-default"
																			   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
																			   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
																			   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
																			   data-action="add-to-wishlist"
																			   role="button">
																				<i class="fa fa-heart"></i>
																			</a>
																		<?php endif; ?>
																		<?php
																		$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
																		?>
																		<?php if(!$themeSettings['catalog']['compare_button']): ?>
																			<a href="#"
																			   class="action tocompare btn btn-default"
																			   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
																			   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
																			   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
																			   role="button">
																				<i class="fa fa-random"></i>
																			</a>
																		<?php endif ?>
																	</div>
																<?php endif ?>
																
																<div class="li-quickview">
																	<?php /* Append Quick View */ ?>
																	<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
																	<?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
																</div>
															</div>
														</div>
														
														<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Products\Deals')->setProduct($_product)->setTemplate('MGS_Mpanel::products/deals/item.phtml')->toHtml() ?>
													</div>
												</div>
											</div>
											<?php if($useSlider && $this->hasData('number_row') && $this->getNumberRow()>1): ?>
												<?php if ($k % $columnCount == 0 || $k == count($_productCollection)): ?>
													</div>
												<?php endif ?>
											<?php endif ?>
										<?php endforeach; ?>
									</div>
									<?php if($useSlider): ?>
										<?php if($this->hasData('number_row') && $this->getNumberRow()>1):?>
											<?php $perRow = 1; ?>
										<?php endif ?>
										<script type="text/javascript">
											require([
												'jquery',
												'mgs/owlcarousel'
											], function ($) {
												$('#deal-products<?php echo $category->getId().$blockId ?>').owlCarousel({
													items: <?php echo $perRow; ?>,
													autoplay: <?php echo $autoPlay ?>,
													autoplayHoverPause: <?php echo $stopAuto ?>,
													nav: <?php echo $nav ?>,
													dots: <?php echo $dot ?>,
                                                    rtl: RTL,
													margin:30,
													<?php if(!$this->hasData('number_row') || $this->getNumberRow()==1):?>
														responsive:{
															0:{
																items:1,
																margin:0
															},
															480:{
																items:2,
																margin:20
															},
															768:{
																items:<?php echo $perRow; ?>
															}
														}
													<?php endif ?>
												});
											});
										</script>
										
									<?php endif ?>
								</div>
							<?php else: ?>
								<div role="alert" class="alert alert-warning"> <?php echo __('The category "%1" haven\'t deal.', $category->getName()) ?> </div>
							<?php endif ?>
						</div>
						
						<?php if ((count($_productCollection)>0) && !$useSlider): ?>
							<?php if(($this->hasData('loadmore') && $this->getData('loadmore')=='1') && ((!$this->getData('limit')) || (count($_productCollection) == $this->getData('limit')))): ?>
								<a class="btn btn-default btn-loadmore" href="<?php echo $this->getUrl('mpanel/index/loadmore', ['type'=>'deal-products-category', 'category'=>$category->getId(), 'limit'=>$this->getLimit(), 'ratio'=>$this->getRatio(), 'col'=>$col, 'block_id'=>$blockId, 'tabs'=>1, 'p'=>2]) ?>"><span></span><?php echo __('Load More') ?></a>
							<?php endif ?>
						<?php endif ?>
					</div>
				<?php endforeach ?>
			</div>
		</div>
	<?php else: ?>
		<div role="alert" class="alert alert-warning"><?php echo __('There are no categories matching the selection.') ?></div>
	<?php endif ?>
</div>