<?php $_productCollection = $this->getDealsByCategories($this->getCategoryIds()) ?>
<?php $_collectionSize = count($_productCollection) ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php 
	$aHelper = $this->helper('MGS\AjaxCart\Helper\Data');
	$isCartShow = false;
	if($aHelper->getConfig('ajaxcart/additional/animation_type') == 'cartshow') {
		$isCartShow = true;
	}
?>
<div class="content-block deal-products-block deal-products-list-block">
	<?php if($this->hasData('mgs_panel_title') || $this->hasData('mgs_panel_note')): ?>
		<div class="content-heading text-left">
			<?php if($this->hasData('mgs_panel_title')): ?>
				<h2 class="title"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_title')) ?></h2>
			<?php endif ?>
			<?php if($this->hasData('mgs_panel_note')): ?>
				<div class="block-note"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_note')) ?></div>
			<?php endif ?>
		</div>
	<?php endif ?>
	
	<?php if ($_collectionSize): ?>
		<?php 
			$blockId = rand() . time();
			$_helper = $this->helper('Magento\Catalog\Helper\Output');
			$useSlider = $this->getUseSlider();
			$perRow = $this->getPerrow();
			$image = 'category_page_grid';
			$themeSettings = $themeHelper->getThemeSettings();
			$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			$col = $themeHelper->convertPerRowtoCol($perRow);
			$autoPlay = $this->getAutoplay() ? 'true' : 'false';
			$stopAuto = $this->getStopAuto() ? 'true' : 'false';
			$nav = $this->getNavigation() ? 'true' : 'false';
			$dot = $this->getPagination() ? 'true' : 'false';
		?>
		
		<?php if($useSlider): ?>
			
			<div class="block widget list-products mgs-deal-products-list-carousel">
				<div class="owl-carousel mgs-carousel-<?php echo $blockId; ?>">
					<?php $i=0; foreach($_productCollection as $_product): ?>
						<?php
							$isSimpleProduct = false;
							if($_product->getTypeId() == 'simple') {
								$isSimpleProduct = true;
							}
						?>
						<?php if ($i++ % $perRow == 0): ?>
							<div class="item">
						<?php endif ?>
						<div class="deal-products-content list-content">
							<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
							<div class="product-item-info" data-container="product-grid">
								<div class="product-left">
									<?php
										$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
										$size = $themeHelper->getImageSize($this->getRatio());
										$productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl();
									?>
									<div class="product-left-content">
										<?php // Product Image ?>
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
											<img src="<?php echo $productImage; ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail"/>
										</a>
										<?php echo $themeHelper->getProductLabel($_product) ?>
										<?php /* Append Quick View */ ?>
										<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
										<?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
									</div>
								</div>
								<div class="product details product-item-details">
									
									<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Products\Deals')->setProduct($_product)->setTemplate('MGS_Mpanel::products/deals/item.phtml')->toHtml() ?>
									<h5 class="product name product-item-name">
										<a class="product-item-link"
										   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
											<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h5>
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
									<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
									<?php echo $block->getProductDetailsHtml($_product); ?>
									<?php echo $this->getLayout()->createBlock('Magento\Swatches\Block\Product\Renderer\Listing\Configurable')->setProduct($_product)->setTemplate('Magento_Swatches::product/listing/renderer.phtml')->toHtml() ?>

									<div class="product-item-inner">
										<div class="product actions product-item-actions">
											<div class="actions-primary">
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
														<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
														<?php if($isCartShow == true):  ?>
															<?php if($isSimpleProduct == true): ?>
																<button class="action tocart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																	<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
																</button>
															<?php else: ?>
																<button class="action tocart btn btn-primary" type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
																	<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
																</button>
															<?php endif; ?>
														<?php else: ?>
															<button class="action tocart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
															</button>
														<?php endif; ?>
													</form>
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<?php if ($i % $perRow == 0 || $i == $_collectionSize): ?>
							</div>
						<?php endif ?>
					<?php endforeach ?>
				</div>
			</div>
			<script type="text/javascript">
				require([
					'jquery',
					'mgs/owlcarousel'
				], function ($) {
					$('.mgs-carousel-<?php echo $blockId ?>').owlCarousel({
						items: 1,
						autoplay: <?php echo $autoPlay ?>,
						autoplayHoverPause: <?php echo $stopAuto ?>,
						nav: <?php echo $nav ?>,
						dots: <?php echo $dot ?>,
                        rtl: RTL,
						navText: ["<i class='fa fa-arrow-left'></i>","<i class='fa fa-arrow-right'></i>"]
					});
				});
			</script>
		<?php else: ?>
			<div class="block widget list-products mgs-deal-products deal-products-list">
				<div class="block-content">
					<ul>
						<?php foreach($_productCollection as $_product): ?>
							<li class="deal-products-content list-content">
								<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
								<div class="product-item-info" data-container="product-grid">
									<div class="product-left">
										<?php
											$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
											$size = $themeHelper->getImageSize($this->getRatio());
											$productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl();
										?>
										<div class="product-left-content">
											<?php // Product Image ?>
											<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
												<img src="<?php echo $productImage; ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail"/>
											</a>
											<?php echo $themeHelper->getProductLabel($_product) ?>
											<?php /* Append Quick View */ ?>
											<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
											<?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
										</div>
									</div>
									<div class="product details product-item-details">
										
										<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Products\Deals')->setProduct($_product)->setTemplate('MGS_Mpanel::products/deals/item.phtml')->toHtml() ?>
										<h5 class="product name product-item-name">
											<a class="product-item-link"
											   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
												<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
											</a>
										</h5>
										<?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
										<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
										<?php echo $block->getProductDetailsHtml($_product); ?>
										<?php echo $this->getLayout()->createBlock('Magento\Swatches\Block\Product\Renderer\Listing\Configurable')->setProduct($_product)->setTemplate('Magento_Swatches::product/listing/renderer.phtml')->toHtml() ?>

										<div class="product-item-inner">
											<div class="product actions product-item-actions">
												<div class="actions-primary">
													<?php if ($_product->isSaleable()): ?>
														<?php $postParams = $block->getAddToCartPostParams($_product); ?>
														<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
															<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
															<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
															<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
															<button class="action tocart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
																<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
															</button>
														</form>
													<?php else: ?>
														<?php if ($_product->getIsSalable()): ?>
															<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
														<?php else: ?>
															<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
														<?php endif; ?>
													<?php endif; ?>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						<?php endforeach ?>
					</ul>
				</div>
			</div>
		<?php endif ?>
	<?php else: ?>
		<div role="alert" class="alert alert-warning"><?php echo __('There are no deals matching the selection.') ?></div>
	<?php endif ?>
</div>