<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>

<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php $_product = $block->getProduct(); ?>
<?php $galleryImages = $block->getGalleryImages(); ?>

<?php // Get Config Gallery Template ?>
<?php $glrTemplate = $themeHelper->getStoreConfig('extragallery/general/glr_type'); ?>
<?php $glr_effect = $themeHelper->getStoreConfig('extragallery/general/glr_effect'); ?>
<?php $zoom_image = $glr_effect == 1 ? 1 : 0; ?>
<?php $lbox_image = $glr_effect == 2 ? 1 : 0; ?>
<?php $zoom_mobile = $themeHelper->getStoreConfig('extragallery/general/zoom_mobile'); ?>
<?php $width = $themeHelper->getStoreConfig('mpanel/product_details/media_width'); ?>

<?php $lbImage = $_product->getName(); ?>

<?php // Image 360 ?>
<?php $rotateImage = $_product->getData('mgs_j360') ?>
<?php $rotateImages = [] ?>
<?php if($rotateImage): ?>
	<?php $rotateImages = $themeHelper->getRotateImages($_product->getId()) ?>
<?php endif ?>

<?php if($block->getViewType() == 'quickview'): ?>
    <?php
        $glrTemplate = 5;
        $lbox_image = 0;
        $zoom_mobile = 0;
    ?>
<?php endif ?>

<?php 
    $class = "";
    if($width == 3){$class = "width-30";}
    if($width == 4){$class = "width-40";}
    if($width == 5){$class = "width-50";}
    if($width == 6){$class = "width-60";}
    if($width == 7){$class = "width-70";}
?>
<?php if(count($galleryImages) > 1): ?>
	<?php echo $this->getLayout()
					->createBlock('Magento\Framework\View\Element\Template')
					->setProduct($_product)
					->setThemeHelper($themeHelper)
					->setProduct($_product)
					->setGalleryImages($galleryImages)
					->setEnableZoom($zoom_image)
					->setLbox($lbox_image)
					->setZoomMobile($zoom_mobile)
					->setRotateImage($rotateImage)
					->setRotateImages($rotateImages)
					->setViewType($block->getViewType())
					->setTemplate('MGS_ExtraGallery::gallery/gallery_'.$glrTemplate.'.phtml')
					->toHtml(); ?>
<?php elseif(count($galleryImages) == 1): ?>
	<?php foreach($galleryImages as $image): ?>
        <div class="single-image-wrapper">
            <div class="product single-image item-image base-image imgzoom" data-zoom="<?php echo $image->getImageZoom(); ?>">
                <?php if($lbox_image): ?>
                    <?php if($image->getMediaType() != 'external-video'): ?>
                        <a class="lb" href="<?php echo $image->getImageZoom(); ?>"><img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/></a>
                    <?php else: ?>
                        <a class="lb video-link" href="<?php echo $image->getVideoUrl(); ?>"><img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/></a>
                    <?php endif ?>
                <?php else: ?>
                    <img class="img-fluid" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
                    <?php if($image->getMediaType() == 'external-video'): ?>
                        <a href="<?php echo $image->getVideoUrl(); ?>"></a>
                    <?php endif ?>
                <?php endif ?>
                <div class="detail-label"><?php echo $themeHelper->getProductLabel($_product) ?></div>
            </div>
		</div>
	<?php endforeach ?>
	<?php if($zoom_image): ?>
	<script type="text/javascript">
		require([ 'jquery', 'zoom-images' ],function($) { zoomElement('.imgzoom'); });
	</script>
	<?php endif ?>
<?php else: ?>
	<?php // Product no image ?>
	<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
	<?php $noImage = $_imagehelper->init($_product, 'product_page_image_large')->getUrl() ?>
	<div class="product item-image base-image">
		<img class="img-fluid" src="<?php echo $noImage; ?>" alt="<?php echo $lbImage ?>"/>
		<div class="detail-label"><?php echo $themeHelper->getProductLabel($_product) ?></div>
	</div>
<?php endif ?>

<?php if($class != "" ): ?>
    <script type="text/javascript">
        require([
            'jquery'
        ], function($){
            $(".row-detail-product .product.media").addClass('<?php echo $class;?>');
        });
    </script>
<?php endif ?>

<?php // Image 360 ?>
<?php if($rotateImage && (count($rotateImages)>0)): ?>
    <?php if($glrTemplate != 2 && $glrTemplate != 6): ?>
		<a class="rotate-image" href="#" onclick="rotate360(); return false"></a>
	<?php endif ?>
    <script type="text/javascript">
        function rotate360(){
            require([
                'jquery',
                "mage/translate",
                'rotateImage'
            ], function ($) {
                $.ajax({
                    url: '<?php echo $this->getUrl('mpanel/index/rotate') ?>',
                    data: ('&product=<?php echo $_product->getId() ?>'),
                    type: 'get',
                    dataType: 'json',
                    cache: true,
                    showLoader: true
                }).done(function (response) {
                    $('.loading-mask').append(response.html);
                    $('.loading-mask').addClass('j360-container');
                    setTimeout(initImageRotate, 1);
                    
                }).fail(function (error) {
                    alert($.mage.__('Sorry, something went wrong. Please try again later.'));
                });
            });
        }
        
        function initImageRotate(){
            require([
                'jquery',
                "mage/translate",
                'rotateImage'
            ], function ($) {
                $('.loading-mask').show();
                $('#mgs_j360').j360();
            });
        }
        
        function closeRotateContainer(){
            require([
                'jquery',
                "mage/translate",
                'rotateImage'
            ], function ($) {
                $('.rotate-image-container').remove();
                $('.loading-mask').removeClass('j360-container');
                $('.loading-mask').hide();
                $('.preload_img').parent().remove();
            });
        }
    </script>
<?php endif ?>

<script type="text/javascript">
    <?php if($lbox_image): ?>
        require([
            'jquery',
            'magnificPopup'
        ], function(jQuery){
            (function($) {
                $(document).ready(function() {
                    $('.product.media').magnificPopup({
                        delegate: '.imgzoom .lb',
                        type: 'image',
                        tLoading: 'Loading image #%curr%...',
                        mainClass: 'mfp-img-gallery',
                        fixedContentPos: true,
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0,1]
                        },
                        iframe: {
                            markup: '<div class="mfp-iframe-scaler">'+
                                    '<div class="mfp-close"></div>'+
                                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                                    '<div class="mfp-bottom-bar">'+
                                      '<div class="mfp-title"></div>'+
                                      '<div class="mfp-counter"></div>'+
                                    '</div>'+
                                    '</div>'
                        },
                        image: {
                            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                        },
                        callbacks: {
                            elementParse: function(item) {
                                if(item.el.context.className == 'lb video-link') {
                                    item.type = 'iframe';
                                } else {
                                    item.type = 'image';
                                }
                            }
                        }
                    });
                });
            })(jQuery);
        });
    <?php endif ?>
    <?php if($zoom_image): ?>
        function zoomElement(el){
            require([ 'jquery', 'zoom-images' ],function($) {
                var dataZ = $(el).attr('data-zoom');
                <?php if($zoom_mobile): ?>
                    if($(window).width() > 767){
                        $(el).zoom({
                            magnify: 1,
                            url: dataZ
                        });
                    }else {
                        $(el).trigger('zoom.destroy');
                    }
                <?php else: ?>
                    $(el).zoom({
                        magnify: 1,
                        url: dataZ
                    });
                <?php endif ?>
            });
        }
        <?php if($zoom_mobile): ?>
            require([ 'jquery', 'zoom-images' ],function($) {
                $(window).resize(function(){
                    if($(window).width() < 766){
                        $('.imgzoom').trigger('zoom.destroy');
                    }
                });
            });
        <?php endif ?>
    <?php endif ?>
</script>

