<?php 
	if($this->getTabs()){
		$_productCollection = $this->getProductCollection($this->getAdditionalData());
	}else{
		$_productCollection = $this->getCategoryProductByIds($this->getAdditionalData());
	}
	
	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
	$col = $this->getCol();
	$themeSettings = $themeHelper->getThemeSettings();
	$image = 'category_page_grid';
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
?>

<?php 
	$aHelper = $this->helper('MGS\AjaxCart\Helper\Data');
	$isCartShow = false;
	if($aHelper->getConfig('ajaxcart/additional/animation_type') == 'cartshow') {
		$isCartShow = true;
	}
?>

<?php foreach ($_productCollection as $_product): ?>
	<?php
		$isSimpleProduct = false;
		if($_product->getTypeId() == 'simple') {
			$isSimpleProduct = true;
		}
	?>
	<div class="item product product-item <?php echo $themeHelper->convertColClass($col, 'col') ?>">
		<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
		<div class="product-item-info" data-container="product-grid">
			<?php
				$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
				$size = $themeHelper->getImageSize($this->getRatio());
				$productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl();
			?>
			<?php // Product Image ?>
			<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
				<img src="<?php echo $productImage; ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail"/>
				<?php echo $themeHelper->getProductLabel($_product) ?>
			</a>
			<div class="product details product-item-details">
				
				<strong class="product name product-item-name">
					<a class="product-item-link"
					   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
						<h4><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></h4>
					</a>
				</strong>
				<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
				<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
				<?php echo $block->getProductDetailsHtml($_product); ?>
				<?php echo $this->getLayout()->createBlock('Magento\Swatches\Block\Product\Renderer\Listing\Configurable')->setProduct($_product)->setTemplate('Magento_Swatches::product/listing/renderer.phtml')->toHtml() ?>

				<div class="product-item-inner">
					<div class="product actions product-item-actions">
						<div class="actions-primary">
							<?php if ($_product->isSaleable()): ?>
								<?php $postParams = $block->getAddToCartPostParams($_product); ?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
									<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
									<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
									<?php if($isCartShow == true):  ?>
										<?php if($isSimpleProduct == true): ?>
											<button class="action tocart btn-cart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
												<span><span class="fa fa-shopping-cart"></span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										<?php else: ?>
											<button class="action tocart btn-cart btn btn-primary" type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
												<span><span class="fa fa-shopping-cart"></span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										<?php endif; ?>
									<?php else: ?>
										<button class="action tocart btn-cart btn btn-primary" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
											<span><span class="fa fa-shopping-cart"></span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
										</button>
									<?php endif; ?>
									
								</form>
							<?php else: ?>
								<?php if ($_product->getIsSalable()): ?>
									<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
								<?php else: ?>
									<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
								<?php endif; ?>
							<?php endif; ?>
						</div>
						<?php if(!$themeSettings['catalog']['wishlist_button'] || !$themeSettings['catalog']['compare_button']): ?>
							<div data-role="add-to-links" class="actions-secondary">
								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']): ?>
									<a href="#"
									   class="action towishlist btn btn-default"
									   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
									   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
									   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
									   data-action="add-to-wishlist"
									   role="button">
										<i class="fa fa-heart"></i>
									</a>
								<?php endif; ?>
								<?php
								$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
								?>
								<?php if(!$themeSettings['catalog']['compare_button']): ?>
									<a href="#"
									   class="action tocompare btn btn-default"
									   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
									   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
									   role="button">
										<i class="fa fa-random"></i>
									</a>
								<?php endif ?>
							</div>
						<?php endif ?>
						
						<div class="li-quickview">
							<?php /* Append Quick View */ ?>
							<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
							<?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<?php endforeach; ?>