@font-face {font-family:'bitter-regular'; src:url('fonts/bitter-regular.woff2') format('woff2'), url('fonts/bitter-regular.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'bitter-bold'; src:url('fonts/bitter-bold.woff2') format('woff2'), url('fonts/bitter-bold.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'open-sans-regular'; src:url('fonts/open-sans-regular.woff2') format('woff2'), url('fonts/open-sans-regular.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'open-sans-regular-italic'; src:url('fonts/open-sans-regular-italic.woff2') format('woff2'), url('fonts/open-sans-regular-italic.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'open-sans-semibold'; src:url('fonts/open-sans-semibold.woff2') format('woff2'), url('fonts/open-sans-semibold.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'open-sans-semibold-italic'; src:url('fonts/open-sans-semibold-italic.woff2') format('woff2'), url('fonts/open-sans-semibold-italic.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'open-sans-bold'; src:url('fonts/open-sans-bold.woff2') format('woff2'), url('fonts/open-sans-bold.woff') format('woff'); font-weight:normal; font-style:normal;}
@font-face {font-family:'open-sans-bold-italic'; src:url('fonts/open-sans-bold-italic.woff2') format('woff2'), url('fonts/open-sans-bold-italic.woff') format('woff'); font-weight:normal; font-style:normal;}

body {
	font-family: 'open-sans-regular', sans-serif !important;
	font-weight: normal !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family: 'bitter-bold', serif !important;
	font-weight: normal !important;
	color: #4f5254 !important;
}

h5, .h5, h6, .h6 {
	font-family: 'open-sans-bold', sans-serif !important;
	font-weight: normal !important;
	color: #4f5254 !important;
}

.shop-title-wrapper .desc h1 {
	font-size: 70px !important;
}

.shop-title-wrapper .desc,
.product.info.detailed .item.content .table.additional-attributes tr th {
	color: #4f5254 !important;
}

.block.filter .block-content.filter-content .filter-options-item .filter-options-title,
.toolbar select {
	color: #4f5254 !important;
}

.opc-progress-bar .opc-progress-bar-item._active:before,
.opc-progress-bar .opc-progress-bar-item._active>span:before {
	background-color: #e9576e !important;
}

.opc-progress-bar .opc-progress-bar-item._active > span {
	color: #e9576e !important;
}

.field.choice .label, .form-group.choice .label,
.field>.label, .form-group>.label, .field>label, .form-group>label {
	padding-left: 20px;
}

.field.choice, .form-group.choice {
	padding: 0px;
}

label button {
	height: auto !important;
	line-height: inherit !important;
	padding: 0px !important;
}

.footer {
	margin-top: 0px !important;
}

/*.products-grid.products-masonry .items.row:not(.loaded) {
	height: auto !important;
	overflow: visible !important;
}*/

div.header-content .logo img,
div.header.content .logo img,
div.preloader,
body.cms-home ul.nav-tabs,
body.cms-home div.show-menu-product-tabs,
body.cms-home div.browse-all-products {
	display: none !important;
}

div.header-content .logo,
div.header.content .logo {
	width: 90px !important;
	height: 133px !important;
	display: block;
	float: left;
	clear: none;
	position: absolute;
	top: 30px;
	left: 0px;
	margin: 0px 0px !important;
	background-image: url(img/logo.svg);
	background-position: top center;
	background-size: 100% 100%;
}

div.header.content .logo {
	position: relative !important;
	top: auto !important;
	left: auto !important;
	float: none !important;
	clear: none !important;
	display: inline-block !important;
}

.header .header-placeholder.active-sticky {
	box-shadow: none !important;
}

body.cms-home main {
	background-color: #edeef2 !important;
	background-image: url(img/white-bg.svg) !important;
	background-repeat: no-repeat !important;
	background-size: 100% auto !important;
	background-position: top center;
}

.product-label.sale-label {
	height: auto !important;
	font-size: 20px !important;
	background-color: #e9576e !important;
	transform: skew(0deg, -15deg);
	top: 60px !important;
	right: 0px !important;
	padding: 6px 12px !important;
	border-radius: 3px 0px 0px 3px !important;
}

.products.list .product-item .product-label.sale-label {
	font-size: 16px !important;
	top: 20px !important;
	padding: 4px 6px !important;
}

.product-info-main-content {
	padding-bottom: 0px !important;
}

body.cms-page-view .page-main {
	max-width: 1366px !important;
}

.block.filter .block-content.filter-content .filter-options-item {
	margin: 12px 0px !important;
	padding-top: 12px !important;
}

.block.filter .block-content.filter-content .filter-options-item .filter-options-content {
	padding-top: 6px !important;
}

body.cms-home footer .middle-footer {
	background-color: #ffffff !important;
}

.nav,
.price,
.price-box .price {
	font-family: 'open-sans-semibold', sans-serif !important;
	font-weight: normal !important;
}

.product.info.detailed {
	margin-top: 40px;
}

div.product.data.items div.data.item.content {
	display: block !important;
}

#tab-label-description,
#tab-label-additional,
div.field-tooltip span.label > span {
	display: none !important;
}

select.swatch-select.product_size option.disabled {
  color: #edeef2;
}

.products-grid.products-masonry .items.row:not(.loaded):before {
	background-color: transparent !important;
}

.product.media .product.item-image img {
	width: 100% !important;
	height: auto !important;
}

div.product-top div.actions-link,
div.product-top div.product-item-inner,
div.product.details button.tocompare {
	display: none !important;
}

div.related-product-main {
	margin-bottom: 50px;
}

div.related-product-main div.content-heading div.block-note {
	display: none !important;
}

div.login-container,
form.form-create-account {
	width: 100%;
	float: left;
	clear: both;
	margin: 50px 0px;
}

.header .header-placeholder .search-popup .search-form .form-search,
.header .header-placeholder .register-header {
	background: rgba(0,0,0,0.8) !important;
	z-index: 1000 !important;
}

.header .header-placeholder .search-popup .search-form .form-search .wrapper-search {
	top: 60px !important;
	transform: translateY(0%);
}

.header .header-placeholder .search-popup .search-form .form-search .search-title {
	display: none;
}

.header .header-placeholder .search-popup .search-form .form-search button.search-close {
	color: #ffffff !important;
	opacity: 0.7;
	bottom: auto !important;
	top: 20px !important;
	margin-top: 80px !important;
}

.header .header-placeholder .search-popup .search-form .form-search button.search-close:hover {
	opacity: 1;
}

/*.header .header-placeholder .register-header .closed-login {
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: left;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(img/close-black.svg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: 0.3;
	bottom: auto !important;
	top: auto !important;
}

.header .header-placeholder .register-header .closed-login:hover {
	opacity: 1;
}*/

.header .header-placeholder .register-header > div {
	max-width: 480px !important;
	padding: 60px;
	background-color: #ffffff;
}

.header .header-placeholder .register-header .change-form {
	margin-bottom: 110px !important;
}

.header .header-placeholder .register-header .change-form a {
	width: 50%;
	display: block;
	float: left;
	clear: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000 !important;
	padding-bottom: 20px !important;
	border-bottom: 3px solid #000000;
	opacity: 0.3;
}

.header .header-placeholder .register-header .change-form a.open {
	opacity: 1;
}

body.cms-page-view div.main ol {
	list-style-type: decimal;
	margin-left: 20px;
}

body.cms-page-view div.main ul {
	list-style-type: square;
	margin-left: 20px;
}

body.cms-page-view div.main ol a,
body.cms-page-view div.main ul a,
body.cms-page-view div.main p a {
	text-decoration: underline;
}

div.product-item-info span.normal-price span.price {
	color: #e9576e;
}

.products-grid.products-masonry .product-item div.product-top {
	padding: 0px 20px;
	background-color: #ffffff !important;
}

.products-grid.products-masonry .product-item-details {
	width: 100%;
	float: left;
	clear: both;
	background-color: #ffffff;
	position: relative !important;
	top: auto !important;
	left: auto !important;
	padding: 0px 20px 20px 20px !important;
}

.footer2 .socials a,
.header .header-placeholder .sidebar-menu .socials a {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	clear: none;
	margin-left: 8px;
	text-align: left;
	padding: 0px;
	border-radius: 5px;
	background-color: #676a6b !important;
}

.header .header-placeholder .sidebar-menu .socials a {
	margin-left: 0px;
	margin-right: 8px;
}

.footer2 .socials a:hover,
.header .header-placeholder .sidebar-menu .socials a:hover {
	background-color: #e9576e !important;
}

.footer2 .socials a em,
.header .header-placeholder .sidebar-menu .socials a em {
	width: 60%;
	height: 60%;
	display: block;
	float: left;
	clear: none;
	margin: 20%;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(img/social-menu.svg);
	background-size: 200% 100%;
	background-position: top left;
}

.footer2 .socials a em.fa-facebook,
.header .header-placeholder .sidebar-menu .socials a em.fa-facebook {
	background-position: top left;
}

.footer2 .socials a em.fa-instagram,
.header .header-placeholder .sidebar-menu .socials a em.fa-instagram {
	background-position: top right;
}

.footer2 .socials a::before,
.header .header-placeholder .sidebar-menu .socials a::before {
	display: none;
}

.scroll-to-top {
	border-color: #676a6b;
	overflow: hidden;
	transition: none;
}

.scroll-to-top:hover {
	border-color: #e9576e;
}

.scroll-to-top i {
	background-color: transparent;
}

.scroll-to-top:hover i {
	color: #ffffff;
	background-color: #e9576e;
}

div.input-search input[type="text"] {
	border: none;
}

div.input-search button {
	cursor: pointer;
}

div.input-search .pe-7s-play:before {
	content: "\e618";
}

div.form-search button.search-close {
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	font-size: 14px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	text-align: center;
	opacity: 1 !important;
	border-color: #333333 !important;
	color: #ffffff !important;
	background-color: #000000 !important;
}

div.form-search button.search-close:hover {
	background-color: #e9576e !important;
}

.product-info-main-content .product-info-media {
	width: 66.6666666666%;
}

.product-info-main-content .product-info-media div.product.item-image.imgzoom {
	border: 1px solid rgba(0,0,0,0.25);
}

.product-info-main-content .product-info-media div.gallery-horizontal {
	border: 1px solid rgba(0,0,0,0.25);
}

.product-info-main-content .product-info-media div.horizontal-thumbnail div.owl-item div.item-thumb {
	border: 1px solid #ffffff;
}

.product-info-main-content .product-info-media div.horizontal-thumbnail div.owl-item div.item-thumb.active {
	border: 1px solid rgba(0,0,0,0.25);
}

div.product-info-main {
	width: 33.3333333333%;
	padding-left: 60px !important;
}

p {
	margin: 10px 0px;
}

main {
	padding-bottom: 60px;
}

.pagination > li.current > a {
	color: #ffffff !important;
	background-color: #e9576e !important;
	border-color: #e9576e !important;
}

.pagination > li > a:hover {
	color: #ffffff !important;
	background-color: #4f5254 !important;
	border-color: #4f5254 !important;
}

.filter-current-subtitle::after {
	content: ":";
}

.filter-current-subtitle {
	width: auto;
	float: left;
	clear: none;
	padding: 3px 0px;
	margin-right: 10px;
	display: none;
}

div.filter-current {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div.filter-current ol {
	width: auto;
	float: left;
	clear: none;
}

div.filter-current ol li {
	width: auto;
	float: left;
	clear: none;
	margin: 0px 5px 5px 0px !important;
	background-color: #edeef2 !important;
	border-radius: 2px !important;
	padding: 3px 5px;
}

div.filter-current ol li a {
	padding: 6px 5px;
}

div.filter-current .fa-trash:before {
	font-family: Arial;
	font-weight: bold;
	content: "X";
}

.checkout-cart-index #shopping-cart-table tbody tr.item-actions td>.actions-toolbar>a:hover {
	color: #ffffff !important;
	background-color: #676a6b !important;
	border-color: #676a6b !important;
}

.field.choice .label, .form-group.choice .label {
	font-size: inherit !important;
}

.opc-block-summary>.title {
	text-transform: none;
	font-weight: bold;
}

.products-grid .product-top {
	background-color: transparent !important;
}

@media screen and (max-width:1720px) {
	body.wide.width1366 .container {max-width:1066px !important;}
}

@media screen and (max-width:1420px) {
	body.wide.width1366 .container {max-width:920px !important;}
	.shop-title-wrapper .title {margin-bottom:30px;}
	.shop-title-wrapper .desc h1 {font-size:60px !important;}
}

@media screen and (max-width:1370px) {
	div.header-content .logo {left:10px;}
}

@media screen and (max-width:1200px) {
	div.header-content > div.container-fluid > div.row > div.col-lg-2 {text-align:center !important;}
	div.header-content .logo, div.header.content .logo {width:45px !important; height:67px !important; position:relative; float:none; clear:none; display:inline-block !important; top:10px; left:auto;}
	.product-label.sale-label {font-size:16px !important;}
	h1, .h1, h2, .h2 {letter-spacing:-1px !important;}
	.footer2 .socials {text-align:right;}
	.footer2 .socials a {float:right; margin-left:10px !important; margin-right:0px;}
	.product-info-main-content .product-info-media {width:100%;}
	div.product-info-main {width:100%; padding-left:0px !important; padding-top:40px !important;}
}

@media screen and (max-width:990px) {
	.product-label.sale-label {top:140px !important;}
	.shop-title-wrapper .title {margin-bottom:20px;}
	.shop-title-wrapper .desc h1 {font-size:50px !important;}
	.footer2 .block-socials .socials {text-align:center;}
	.footer2 .socials a {display:inline-block; float:none; clear:none;}
}

@media screen and (max-width:760px) {
	.product-label.sale-label {top:40px !important;}
	.shop-title-wrapper .desc h1 {font-size:40px !important;}
	.product-info-main-content .product-info-media {width:100%; padding:0px 20px !important;}
	div.product-info-main {width:100%; padding-left:20px !important; padding-right:20px !important; padding-top:0px !important;}
	div.toolbar-products > div {width:auto !important; height:40px !important; !float:left; clear:none; padding-right:30px !important;}
	div.toolbar-products div.toolbar-amount {padding-top:7px !important;}
	button.sidebar-reponsive-btn {top:120px !important;}
}

@media screen and (max-width:660px) {
	.product-label.sale-label {top:40px !important;}
	.shop-title-wrapper .desc h1 {font-size:36px !important;}
}

@media screen and (max-width:560px) {
	.shop-title-wrapper .desc h1 {font-size:32px !important;}
	.products-grid .product-item {width:100%; float:left; clear:both; position:relative !important; top:auto !important; left:auto !important; margin:0px 0px 20px 0px !important;}
	.products-grid .product-item div.product-item-info {background-color: #ffffff;}
	.products-grid .product-item .product.details {padding:20px;}
}

@media screen and (max-width:460px) {
	.shop-title-wrapper .desc h1 {font-size:28px !important;}
}

@media screen and (max-width:360px) {
	.shop-title-wrapper .desc h1 {font-size:24px !important;}
}