<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
?>


<?php $helper = $this->helper('Magento\Search\Helper\Data'); ?>

<?php $mpanelHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>

<?php 
if($mpanelHelper->getStoreConfig('instantsearch/general/result') == 1){
    $action = $block->getBaseUrl().'/instantsearch/result/';
}else{
    $action = $helper->getResultUrl();
}
?>

<div class="text-center search-form">
	<div class="form-search">
		<h3 class="search-title"><?php echo __('Search')?></h3>
		<div class="wrapper-search">
		<form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $action; ?>" method="get">
			<div class="input-search">
				<input id="search"
				   data-mage-init='{"quickSearch":{
						"formSelector":"#search_mini_form",
						"url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
						"destinationSelector":"#search_autocomplete"}
				   }'
				   type="text"
				   name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
				   value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
				   class="input-text form-control"
				   maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
				   placeholder="<?php echo __('Search') ?>"
				   role="combobox"
				   aria-expanded="true"
				   aria-haspopup="false"
				   aria-autocomplete="both"
				   autocomplete="off"/>
					
				<button type="submit" title="<?php echo $block->escapeHtml(__('Search')) ?>" class="action search button">
					<i class="pe-7s-play arrow"></i>
					<i class="pe-7s-search search" aria-hidden="true"></i>
				</button>	 
			</div>
			<div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
			<?php echo $block->getChildHtml() ?>
		</form>
		<button class="search-close" onclick="closeFormSearch()"><?php echo __('Close')?></button>
		</div>
	</div>
</div>

<script type="text/javascript">
	function showHideFormSearch(){
		require([
		'jquery'
		], function($){
            $('.search-form').toggleClass('active');
            setTimeout(focusSearchField, 500);
		});
	}
	function closeFormSearch(){
		require([
		'jquery'
		], function($){
            $('html').removeClass('form-open');
            $('.search-form').removeClass('active');
		});
	}
	
	function focusSearchField(){
		require([
		'jquery'
		], function($){
			$('#search_mini_form input#search').focus();
		});
	}
</script>
