<?php $themeHelper = $this->getThemeHelper(); ?>
<?php $themeSettings = $themeHelper->getThemeSettings(); ?>
<?php $_imagehelper = $this->getImageHelper(); ?>
<?php $_helper = $this->getCatalogHelperOutput(); ?>
<?php $image = 'category_page_grid'; ?>
<?php $_image = 'product_thumbnail_image'; ?>
<?php $useSlider = $this->getUseSlider(); ?>
<?php $aHelper = $this->helper('MGS\AjaxCart\Helper\Data'); ?>
<?php
	//check cart
	$isCartShow = false;
	if($aHelper->getConfig('ajaxcart/additional/animation_type') == 'cartshow') {
		$isCartShow = true;
	}
?>

<?php if($this->getLazyLoad() == true): ?>
	<?php $lazyLoad = false; ?>
<?php else: ?>
	<?php $lazyLoad = $themeHelper->getStoreConfig('mgstheme/general/lazy_load'); ?>
<?php endif ?>

<?php $baseImage = $this->getViewFileUrl('MGS_Mpanel::images/blank'.$this->getRatio().'.png'); ?>
<?php $baseImageHover = $this->getViewFileUrl('MGS_Mpanel::images/blank'.$this->getRatio().'.png'); ?>

<?php $_product = $this->getLoadProduct($this->getProductId()); ?>
<?php
	$isSimpleProduct = false;

	if($_product->getTypeId() == 'simple') {
		$isSimpleProduct = true;
	}
 ?>

<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>

<div class="product-item-info" data-container="product-grid">
	
	<?php // Product Top ?>
	<div class="product-top">
	
		<?php // Product Image ?>
		<?php $size = $themeHelper->getImageSize($this->getRatio()); ?>
		<?php $padding = $themeHelper->getImagePadding($this->getRatio()); ?>
		
		<?php 
			$productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl();
			$productImageHover = $_imagehelper->init($_product, $_image)->resize($size['width'], $size['height'])->getUrl();
			if(!$lazyLoad){
				$baseImage = $productImage;
				$baseImageHover = $productImageHover;
			}
		?>
		<a href="<?php  echo $_product->getProductUrl() ?>" class="product photo product-item-photo" style="padding-bottom: <?php echo $padding ?>;"  tabindex="-1">
			
			<img src="<?php echo $baseImage ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail<?php if($lazyLoad): ?> <?php if($useSlider): ?> owl-lazy<?php else: ?> lazy<?php endif ?><?php endif ?>" data-src="<?php echo $productImage ?>"/>
			
			<?php if(basename($_product->getData('thumbnail')) !=  'no_selection'): ?>
				<?php if(basename($_product->getData('thumbnail')) != basename($_product->getData('small_image'))): ?>
					<img src="<?php echo $baseImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive img-hover-show<?php if($lazyLoad): ?> <?php if($useSlider): ?> owl-lazy<?php else: ?> lazy<?php endif ?><?php endif ?>" data-src="<?php echo $productImageHover ?>"/>
				<?php endif ?>
			<?php endif ?>
			
			<img class="product-image-photo"/>
		</a>
		
		<?php // Product Label ?>
		<?php echo $themeHelper->getProductLabel($_product) ?>
		
		<?php // Product Action ?>
		<div class="actions-link">
			
			<?php // Add to cart ?>
			<?php if ($_product->isSaleable()): ?>
				<?php $postParams = $block->getAddToCartPostParams($_product); ?>
				<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data']['uenc'], 'product'=>$postParams['data']['product']]); ?>" method="post">
					<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
					<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
					<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
					<?php if($isCartShow == true):  ?>
                    	<?php if($isSimpleProduct == true): ?>
                            <button type="submit"
                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                class="action tocart btn-cart">
                              <span class="icon pe-7s-shopbag"></span>
                            </button>
                        <?php else: ?>
                        	<button type="button"
                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                class="action tocart btn-cart" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
                              <span class="icon pe-7s-shopbag"></span>
                            </button>
                        <?php endif; ?>
                    <?php else: ?>
                    	<button type="submit"
                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                            class="action tocart btn-cart">
                          <span class="icon pe-7s-shopbag"></span>
                        </button>
                    <?php endif; ?>
				</form>
			<?php endif ?>
			
			<?php // QuickView  ?>
			<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
			<?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?>
			
		</div>
	</div>
	
	<?php // Product Detail ?>
	<div class="product details product-item-details">
	
		<div class="product-detail-content">
			<?php // Product Name ?>
			<h5 class="product name product-item-name">
				<a class="product-item-link"
				   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
					<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
				</a>
			</h5>
			
			<?php $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;?>
			<?php echo $block->getReviewsSummaryHtml($_product, $templateType, true)?>
			<?php // Price ?>
			<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
			
			<?php // Swatches Product ?>
			<?php echo $this->getLayout()->createBlock('Magento\Swatches\Block\Product\Renderer\Listing\Configurable')->setProduct($_product)->setTemplate('Magento_Swatches::product/listing/renderer.phtml')->toHtml() ?>
		</div>
		<div class="product-detail-action">
			<?php // Wishlist  ?>
			<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']): ?>
				<button class="action towishlist"
				   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
				   data-title="<?php echo __('Add to Wish List') ?>"
				   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
				   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
				   data-action="add-to-wishlist"
				   role="button">
					<i class="pe-7s-like"></i>
				</button>
			<?php endif; ?>
			
			<?php // Compare  ?>
			<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
			<?php if(!$themeSettings['catalog']['compare_button']): ?>
				<button class="action tocompare"
				   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
				   data-title="<?php echo __('Add to Compare') ?>"
				   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
				   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
				   role="button">
					<i class="pe-7s-graph3"></i>
				</button>
			<?php endif ?>
		</div>
	</div>
</div>