<?php $categories = $this->getCategoryByIds() ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>

<div class="content-block product-tab product-tab-masonry category-product-cat-block category-product-cat-tab-block">

	<?php // Block Title ?>
	<?php if($this->getData('mgs_panel_title') != "" || $this->getData('mgs_panel_note') != ""): ?>
		<div class="content-heading">
			<?php if($this->getData('mgs_panel_title')): ?>
				<h3 class="title"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_title')) ?></h3>
			<?php endif ?>
			<?php if($this->getData('mgs_panel_note')): ?>
				<div class="block-note"><?php echo $themeHelper->decodeHtmlTag($this->getData('mgs_panel_note')) ?></div>
			<?php endif ?>
		</div>
	<?php endif ?>
	
	<?php // Block Content  ?>
	<?php if(count($categories)>0): ?>
		<?php 
			$blockId = rand() . time();
			$_helper = $this->helper('Magento\Catalog\Helper\Output');
			$themeSettings = $themeHelper->getThemeSettings();
            
			$image = 'category_page_grid';
			$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
		?>
		
		<div class="tabbable">
            <div class="show-menu-product-tabs hidden-lg hidden-md" id="show-menu-product-tabs" data-menutogle="#menu-product-tabs<?php echo $blockId ?>">Categories</div>
			<ul id="menu-product-tabs<?php echo $blockId ?>" class="nav nav-tabs menu-product-tabs">
				<?php $i=0; foreach($categories as $category): $i++ ?>
					<li<?php if($i==1): ?> class="active"<?php endif ?>>
						<a data-toggle="tab" href="#category-tab-<?php echo $category->getId().$blockId ?>" data-listproduct="#category-products<?php echo $category->getId().$blockId; ?>"><?php echo $category->getName(); ?></a>
					</li>
				<?php endforeach ?>
			</ul>
			<div class="tab-content">
				<?php $i=0; foreach($categories as $category): $i++ ?>
					<div id="category-tab-<?php echo $category->getId().$blockId ?>" class="products-grid tab-pane<?php if($i==1): ?>  active<?php endif ?>">
						<div class="category-product-category-tab" id="category<?php echo $category->getId().$blockId; ?>-category-products">
							<?php $_productCollection = $this->getProductCollection($category); ?>
							<?php if (count($_productCollection)>0): ?>
							
								<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
								
								<div class="block widget mgs-products category-products-grid products-grid products-masonry">
									<!-- Don't Remove Id of this div element -->
									<div id="category-products<?php echo $category->getId().$blockId; ?>" class="items row">
                                        <div class="loading-effect"></div>
                                        <?php $j=0; foreach ($_productCollection as $_product): $j++; ?>
                                            <div class="product product-item col-xs-6<?php if($j == 2): ?> item-2<?php endif ?>">
                                                <?php echo $this->getLayout()
                                                                ->createBlock('MGS\Mpanel\Block\Products\ProductItem')
                                                                ->setProductId($_product->getId())
                                                                ->setThemeHelper($themeHelper)
                                                                ->setImageHelper($_imagehelper)
                                                                ->setCatalogHelperOutput($_helper)
                                                                ->setRatio($this->getRatio())
                                                                ->setTemplate('MGS_Mpanel::products/grid_items_masonry.phtml')
                                                                ->toHtml(); ?>
                                            </div>
                                            
                                        <?php endforeach; ?>
									</div>
								</div>
                                <div class="browse-all-products"><a href="<?php echo $category->getUrl(); ?>"><?php echo __('Browse All Products'); ?></a></div>
							<?php else: ?>
								<div role="alert" class="alert alert-warning"> <?php echo __('The category "%1" haven\'t product.', $category->getName()) ?> </div>
							<?php endif ?>
						</div>
					</div>
                    
                    <?php if($i==1): ?>
                        <script type="text/javascript">
                            requirejs([ 
                                'require', 
                                'jquery', 
                                'mgs/isotope' 
                            ], function( require, $, Isotope ) {
                                require( [ 'bridget' ], function( jQueryBridget ) {
                                    jQueryBridget( 'isotope', Isotope, $ );
                                    $(document).ready(function() {
                                        var container = $('#category-products<?php echo $category->getId().$blockId; ?>').isotope({
                                            itemSelector: '.product-item',
                                            percentPosition: true,
                                            masonry: {
                                                columnWidth: '.product-item'
                                            }
                                        });
                                        
                                        setTimeout(function(){ 
                                            $("#category-products<?php echo $category->getId().$blockId; ?> .items.row").removeClass('loaded');
                                            $('#category-products<?php echo $category->getId().$blockId; ?>').addClass('loaded'); 
                                        }, 1500);
                                    });     
                                });
                            });
                        </script>
                    <?php endif ?>
				<?php endforeach ?>
			</div>
		</div>
        
        <script type="text/javascript">
            requirejs([ 
                'require', 
                'jquery', 
                'mgs/isotope',
                'mgs/visible'
            ], function( require, $, Isotope ) {
                require( [ 'bridget' ], function( jQueryBridget ) {
                    jQueryBridget( 'isotope', Isotope, $ );
                    $('.product-tab-masonry .menu-product-tabs a').click(function(){
                        var el = $(this).attr("data-listproduct");
                        setTimeout(function(){ 
                            var container = $(el).isotope({
                                itemSelector: '.product-item',
                                percentPosition: true,
                                masonry: {
                                    columnWidth: '.product-item'
                                }
                            });
                            $(el).find(".product-item-info.masonry-layout").each(function(){
                                if($(this).visible(true,true,'vertical')) {
                                    $(this).addClass('enable');
                                }else {
                                    $(this).removeClass('enable');
                                }
                            });
                        }, 300);
                        $(document).ready(function() {
                            $(el).on( 'layoutComplete', function() {
                                $(".items.row").removeClass('loaded');
                                setTimeout(function(){ $(el).addClass('loaded'); }, 1500);
                            });
                        });
                    });
                });
            });
            
            require([
                'jquery',
                'mgs/visible'
            ], function(jQuery){
                (function($) {
                    $(window).scroll(function(){
                        $(".product-item-info.masonry-layout").each(function(){
                            if($(this).visible(true,true,'vertical')) {
                                $(this).addClass('enable');
                            }else {
                                $(this).removeClass('enable');
                            }
                        });
                    });
                })(jQuery);
            });
        </script>
        <script type="text/javascript">
            require([
                'jquery'
            ], function(jQuery){
                (function($) {
                    $(document).ready(function() {
                        $(document).on("click","#show-menu-product-tabs",function(e){
                            var toggleElement = $(this).attr('data-menutogle');
                            $(toggleElement).slideToggle('slow');
                        });
                        $(document).on("click",".menu-product-tabs a",function(e){
                            if($(window).width() < 992){
                                $(this).parent().parent().slideUp('slow');
                            }
                        });
                    });
                })(jQuery);
            });
        </script>
	<?php else: ?>
		<div role="alert" class="alert alert-warning"><?php echo __('There are no categories matching the selection.') ?></div>
	<?php endif ?>
</div>