<?php

$_product = $block->getProduct();
?>
<div class="page-title-wrapper product">
    <h1 class="page-header">
        <span class="base" data-ui-id="page-title-wrapper" itemprop="name"><?php echo $_product->getName(); ?></span>
    </h1>
</div>